body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
​
.logout-link {
  cursor: pointer;
}
/* HOME PAGE STYLING */
.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.homeInput {
  width: 600px;
  height: 80px;
  font-size: 3em;
}
.homeList {
  display: inline;
  font-size: 30px;
  transition-property: opacity;
  transition-duration: 3s;
  opacity: 0;
}

.homeList:hover{
  transition-duration: 3s;
  font-size: 36px;
  opacity: 40;
}

/* PROFILE PAGE STYLING */

 .profileCon {
  height: 100vh;
  background-color: darkseagreen;
  width: 300px;
}

.proDiv {
  margin: 10px;
  /* font-size: 1.3em; */
}
.proBioDiv {
  background-color: beige;
}
.proImg {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.profile-nav .panel {
  box-shadow: 0px 7px 12px rgb(54, 53, 53);
  
}
.profile-nav, .profile-info{
  margin-top:30px;  
}

.profile-nav .user-heading {
  background: #fbc02d;
  color: #fff;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 30px;
  text-align: center;
}

.profile-nav .user-heading.round a  {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 10px solid rgba(255,255,255,0.3);
  display: inline-block;
}

.profile-nav .user-heading a img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.profile-nav .user-heading h1 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 5px;
}

.profile-nav .user-heading p {
  font-size: 12px;
}
/* profile links */
.proLinks {
  width: 100%;
  background-color: white;
  box-sizing: content-box;
  justify-content: center;
  
}
.profile-nav ul {
  list-style: none;
  margin-top: 1px;
  padding: 0px;
}

.profile-nav ul > li {
  border-bottom: 1px solid #ebeae6;
  margin-top: 0;
  line-height: 30px;
}

.profile-nav ul > li:last-child {
  border-bottom: none;
}

.profile-nav ul > li > a {
  border-radius: 0;
  -webkit-border-radius: 0;
  color: #89817f;
  border-left: 5px solid #fff;
}

.profile-nav ul > li > a:hover, .profile-nav ul > li > a:focus, .profile-nav ul li.active  a {
  background: #f8f7f5 !important;
  border-left: 5px solid #fbc02d;
  color: #89817f !important;
}

.profile-nav ul > li:last-child > a:last-child {
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
}

.profile-nav ul > li > a > i{
  font-size: 16px;
  padding-right: 10px;
  color: #bcb3aa;
}

.r-activity {
  margin: 6px 0 0;
  font-size: 12px;
}

.p-text-area, .p-text-area:focus {
  border: none;
  font-weight: 300;
  box-shadow: none;
  color: #c3c3c3;
  font-size: 16px;
}
/* STYLE BIO */
.bio-graph-heading {
  background: #fbc02d;
  color: #fff;
  text-align: center;
  font-style: italic;
  padding: 10px;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  font-size: 20px;
  font-weight: 300;
}

.bio-graph-info {
  color: #89817e;
}

.bio-graph-info h1 {
  font-size: 22px;
  font-weight: 300;
  margin: 0 0 20px;

}
.row {
  margin: 0px;
}
.bio-row {
  float: left;
  padding:0 15px;
}
.panel-body h1{
  text-align: center;
  background-color: gold;
  box-shadow: 0px 8px 9px rgb(54, 53, 53)

}
.bio-row p span {
  width: 100px;
  display: inline-block;
}

footer {
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

/* STYLE ALBUMS */

.proAlbumsDiv {
display: flex;
flex-direction: row;
justify-content: space-around;
padding: 3px;
margin: 3px;
}
.albums, .familyTree, .familyMembers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  border: 1px solid black;
  background-color: gold;
  font-size: 1.4em;
  margin: inherit;
  box-shadow: 0px 5px 15px gray;
}
.albums .face2, .familyTree .face2, .familyMembers .face2 {
  position: absolute;
  font-size: 1.5em;
  opacity: 15%;
  box-shadow: 0px 7px 12px rgb(54, 53, 53);

}
.albums .face1, .familyTree .face1, .familyMembers .face1 {
  position: relative;
  box-sizing: border-box;
}

/* FAMILY TIES STYLING */

.proDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.familyTies {
  display: flex;
  flex-direction: column;
  background-color: beige;
  height: 100vh;
  margin-left: 10px;
}
.familyTreeJumbo{
  width: 500px;
  height: 355px;
}

.familyTreeJumbo .carousel img{
 height: 300px;
 border-radius: 4%;
}
.familyTreeJumbo img {
  width: 100%;
  height: 300px;
  border-radius: 4%;
}
.familyTreeJumbo h2 {
  text-align: center;
  background-color: darkseagreen;
  box-shadow: 0px 7px 12px rgb(54, 53, 53);

}

.knownMemDiv {
  height: 400px;
  background-color: darkseagreen;
  text-align: center;
  border-radius: 4%;
  box-shadow: 0px 7px 12px rgb(54, 53, 53);


}